<!DOCTYPE html>
<html>
    <head>
        <title> click&capture</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link href="index.css" rel="stylesheet" type="text/css">
    </head>
    <body style="background-image:url('https://images.unsplash.com/photo-1512790182412-b19e6d62bc39?ixlib=rb-1.2.1&w=1000&q=80');background-size: cover;background-repeat: no-repeat;background-position-x:center;background-position-y:center;">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"style="color: rgb(60, 87, 25);"> click&capture</a>
                </div>
                <div class=>
                   
                </div>
            </div>
        </nav>