<%- include("partials/header.ejs") %>

<h1 style="color: rgb(114, 31, 1);">welcome to the photographers hub </h1>
<p style="color: rgba(255, 127, 80, 0.301);">Photography is the art, application, and practice of creating durable images by recording light, either electronically by means of an image sensor, or chemically by means of a light-sensitive material such as photographic film. It is employed in many fields of science, manufacturing (e.g., photolithography), and business, as well as its more direct uses for art, film and video production, recreational purposes, hobby, and mass communication.</p>
</br>
</br>
<p style="color: rgba(255, 127, 80, 0.301);">Here you can upload photos that you have captured and can also browse the photos of others...Enjoy Clicking... </p>

<a href="/campgrounds" style="color: rgb(60, 87, 25); size: 12rem;">click me to checkout the masterpieces</a>

<%- include("partials/footer.ejs") %>
